.customer-item{
    display: flex; 
    align-items: center; 
    gap: 215px; 
    margin-bottom: 15px;
}

.customer-info {
    display: flex; 
    align-items: center; 
}

.customer-avatar{
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.customer-name{
    font-weight: 500;
    font-size: 18px;
}

.delete-button {
    background-color: red;
    padding: 8px;
}